<div class="startPageContainer">
  @if(showQuizButton){
  <div class="warningContainer">
    <div style="display: flex; flex-direction: column">
      <h3 style="margin: 0; font-weight: 500">Rules</h3>
      <span class="rule">Time Limit: No TimeLimit.</span>
      <span class="rule">Scoring: Earn points for each correct answer.</span>
      <span class="rule">
        No Backtracking: You can't change your answer once submitted.</span
      >
    </div>
    <button class="startQuizButton" (click)="toggleQuizQuestions()">
      Start Quiz
    </button>
  </div>
  } @if(showQuiz){
  <section class="sectionContainer">
    <div class="top">
      <h3 style="margin: 0; font-weight: 500">Answer the quiz</h3>
      <!-- <div class="timerContainer">
        <span> Time : </span>
        <div class="timer">10</div>
      </div> -->
    </div>
    <div class="middle">
      <span class="questionText"
        >{{ currentQuestion + 1 }}.
        {{ questionsList[currentQuestion].question }}</span
      >

      <div
        *ngFor="let option of options; let i = index"
        [class.correctOption]="
          option == questionsList[currentQuestion].correct_answer &&
          (selectedValues.includes(true) || selectedValues[i])
        "
        [class.selectedOption]="
          selectedValues[i] && !questionsList[currentQuestion].correct_answer
        "
        class="optionsContainer"
        (click)="handleOptionClick(i)"
      >
        {{ option }}
      </div>
    </div>

    <div class="bottom">
      <span class="noOfQuestions"
        >{{ currentQuestion + 1 }} of {{ questionsList.length }} Questions</span
      >
      <button class="nextQuestionButton" (click)="nextQuestion()">Next</button>
    </div>
  </section>
  } @if(quizResult){
  <div class="resultContainer">
    <h3 style="margin: 0; font-weight: 500">Your Score :</h3>
    <div class="roundedContainer">
      <h1>{{ score }} / {{ questionsList.length }}</h1>
    </div>
    <div class="resultTextContainer">
      @if(score<7){
      <div class="resultText">Below Average, need to practice</div>
      } @if(score>=7 && score<8){
      <div class="resultText">Good, but needs improvement</div>
      } @if(score>=8){
      <div class="resultText">Great, Please continue the momentum</div>
      }
    </div>
    <div
      style="display: flex; justify-content: space-between; margin-top: 20px"
    >
      <button class="nextQuestionButton" (click)="handleReTakeQuizButton()">
        Home
      </button>
    </div>
  </div>
  }
</div>
